* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Poppins';
}

:root {
  --black-color:#000;
  --white-color: #fff;
}

p {

  font-size: 18px;
  /* font-family: poppins sans-serif; */
}

.mainsection {
  /* padding: 30px ; */
  height: 100vh;
  width: 100vw;
}

/* -----------------------------------------------wrapper-section start---------------------------------------------------------------------*/
.wrapper-section {

  /* width: 100vw; */
  /* height: 90vh; */
  padding: 30px 30px;
  background-color: #407bff;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper-content {

  color: var(--white-color);


}

.wrapper-content .wrapper-title {

  margin-top: 20px;
}

.wrapper-content .wrapper-title h1 {

  font-weight: bold;

}

.wrapper-content .wrapper-info {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}


.wrapper-content .wrapper-info p {

  padding: 20px;
  max-width: 850px;
  font-size: 20px;
}

.wrapper-content .wrapper-button {
  margin-top: 20px;
}

.wrapper-content .wrapper-button a {
  display: block;
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  width: 195px;
  padding: 10px 35px;
  border-radius: 100px;
  text-transform: uppercase;
  background: #afd7fe;
  text-decoration: none;
  margin: auto;
}
/* ----------------------------------------------- wrapper-section end ---------------------------------------------------------------------*/

.content-section1,
.content-section2,
.content-section3,
.content-section4,
.content-section5,
.content-section6 {
  padding: 70px 50px;
  color: var(--black-color);
}

.img img {

  width: 100%;
  height: 100%;
}


.inner-data li{

  padding: 5px 10px;
  line-height: 30px;
}
/* ----------------------------------------------- content-section1 start ---------------------------------------------------------------------*/

.content-section1 .inner-content .title h2{

  font-weight: 700;
  line-height:50px;
  padding-bottom:20px ;
}

.content-section1 .inner-content .inner-data p{

  line-height: 30px;
}

/* ----------------------------------------------- content-section1 start ---------------------------------------------------------------------*/

/* ----------------------------------------------- content-section2 start ---------------------------------------------------------------------*/
.content-section2 .inner-content .title h2{

  font-weight: 700;
  line-height:50px;
  padding-bottom:20px ;
}

.content-section2 .inner-content .title p{

  line-height: 30px;
}
/* ----------------------------------------------- content-section2 start ---------------------------------------------------------------------*/

/* ----------------------------------------------- content-section3 start ---------------------------------------------------------------------*/
.content-section3 .inner-content .title h2{

  font-weight: 700;
  line-height:50px;
  padding-bottom:20px ;
}
/* ----------------------------------------------- content-section3 start ---------------------------------------------------------------------*/

/* ----------------------------------------------- content-section4 start ---------------------------------------------------------------------*/
.content-section4 .inner-content .title h2{

  font-weight: 700;
  line-height:50px;
  padding-bottom:20px ;
}

.content-section4 .inner-content .inner-data p{

  line-height: 30px;
}
/* ----------------------------------------------- content-section4 start ---------------------------------------------------------------------*/


/* ----------------------------------------------- content-section5 start ---------------------------------------------------------------------*/

.slider-title {
  text-align: center;
}

.slider-title h1{
  padding-bottom: 25px ;
}

.slider-section .carousel-control-prev:hover{
  background: #407bff;
}

.slider-section .carousel-control-prev{
  width: 50px;
  height: 50px;
  background: #407bff;
  top: 50%;
  left: -40px;
  border-radius: 8px;
}

.slider-section .carousel-control-next{
  width: 50px;
  height: 50px;
  background: #407bff;
  top: 50%;
  right: -40px;
  border-radius: 8px;
}

.slider-section .slider-img{
  width: 100%;
  height: 400px;
}

.slider-section .slider-img img{
  width: 100%;
  height: 400px;
}


.slider-section .slider-data{

  padding: 50px 70px;
}

.slider-section .slider-data h2{

  padding-top: 20px;
}

.slider-section .slider-data p{

  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 30px;

}

.slider-section .slider-data .slider-button{
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-section .slider-data a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 10px 35px;
  border-radius: 100px;
  text-transform: uppercase;
  background: #407bff;
  text-decoration: none;
  margin: auto;
}

@media only screen and (max-width: 600px) {

  .slider-section .slider-data{
    padding: 50px 10px;
  }
}


/* -----------------------------------------------content-section5 end---------------------------------------------------------------------*/
/* -----------------------------------------------content-section6 start---------------------------------------------------------------------*/


.hire-simple-step .step{ 
 display: flex;
 margin-top: 50px;
 /* text-align: center; */
}

.hire-simple-step .step .step-box{

  width: 150px;
  height: 150px;
  border: 2px dashed #0a56f5;
  border-radius: 6%;
  background: #fff;
  margin: 0 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {


  .hire-simple-step .step .step-box{

    width: 120px;
    height: 120px;
    margin: 0 20px 20px;
   
  }
}

.hire-simple-step .step .step-box.pink-line{

  border: 2px dashed #f184a7;

}
/* -----------------------------------------------content-section6 end---------------------------------------------------------------------*/